.DS_Store
*.swp
*~.nib
build/
*.mode1
*.mode1v3
*.mode2v3
pbxuser
*.perspective
*.perspectivev3
*._*
xcuserdata
xccheckout
*.moved-aside
DerivedData
.idea/
*._*
.hg
.svn
CVS
*~
bin
*.bak
virtualenv/
*.pyc
cv14db.db
settings_local.py
__pycache__/
